# Ignorar entorno virtual
venv/
__pycache__/
.DS_Store

# Si generas archivos temporales o logs
*.log
# Ignorar archivos de Streamlit
.streamlit/secrets.toml
secrets.toml
creds.json


# Ignorar archivos temporales de Python
__pycache__/
*.pyc
venv/
historial_ofertas/